<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="personal.wl.jspos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".db.DBConnect"
        android:allowBackup="true"
        android:icon="@mipmap/online"
        android:label="wlPOS"
        android:roundIcon="@mipmap/online_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="wlPos"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="personal.wj.jspos.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling" />


        <activity android:name=".pos2"
            android:label="pos2"/>

        <activity
            android:name=".LocalDatabaseCheckActivity"
            android:label="本地数据库记录"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="personal.wj.jspos.LocalDatabaseCheckActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpgradeActivity"
            android:label="版本更新检查"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="personal.wj.jspos.UpgradeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".POS"
            android:label="@string/title_activity_pos"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PosTransList"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PosInit"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="personal.wj.jspos.posinit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <receiver android:name=".update.http.DownLoadBroadcastReceiver">
            <intent-filter android:priority="20">
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".BlueToothDeviceActivity"
            android:label="@string/title_BlueToothSetting"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="personal.wj.jspos.BlueToothDeviceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>